/* AudioSubmitComponent.css */

/* 전체 컨테이너 스타일링 */
.audio-submit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

/* 녹음 파일 옵션 스타일링 */
.recording-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
  height: 50px;
}

/* 라디오 버튼 숨기기 */
.recording-item input[type="radio"] {
  display: none;
}

/* 라디오 버튼 라벨 스타일링 */
.recording-item label {
  padding: 12.5px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  width: calc(100% - 40px);
  text-align: center;
}

/* 선택된 라벨 스타일링 */
.recording-item input[type="radio"]:checked + label {
  background-color: #e9ecef;
  border-color: #28a745;
}

/* 오디오 플레이어 스타일링 */
.audio-player1 {
  width: 100%;
  /*margin-top: 20px;*/
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  background: #f9f9f9;
  height: 50px; /* 고정된 높이 설정 */
}
